openapi: 3.0.3
info:
  title: AnythingDB - API reference
  description: |
    This is the specification for the AnythingDB API, which allows to create and
    interact with Things following the
    [WoT specification](https://www.w3.org/TR/wot-thing-description/#thing),
    as well as other features like Models, Categories, or even running custom
    queries directly on the database.
    
    📖 [Check the documentation](https://help.altair.com/altair-iot-studio/topics/anythingdb/anythingdb_intro.htm)
    to know more about AnythingDB.
  version: 1.0.0
  x-api-gen:
    equivalent_paths:
      - source: /spaces/{space}/categories/{category-name}/things
        target: /spaces/{space}/things
servers:
  - url: 'https://api.swx.altairone.com'
    description: Altair® IoT Studio™
  - url: '{protocol}://{address}'
    description: Custom API address
    variables:
      protocol:
        description: HTTP protocol.
        default: https
        enum:
          - https
          - http
      address:
        description: The domain or IP of the Altair® IoT Studio™ API.
        default: api.swx.altairone.com
tags:
  - name: Categories
    description: Operations on Categories
  - name: Models
    description: Operations on Models
  - name: Model-Versions
    description: Operations on Model-Versions
  - name: Things
    description: Operations on Things
  - name: Thing Credentials
    description: Operations on Things Credentials
  - name: Actions
    description: Operations on Thing Actions
  - name: Events
    description: Operations on Thing Events
  - name: Properties
    description: Operations on Thing Properties
  - name: Properties History
    description: Operations on Thing Properties History
  - name: Query Cursors
    description: Operations on database queries
  - name: Categories MQTT-credentials
    description: Operations on MQTT credentials for Categories
  - name: Things MQTT-credentials
    description: Operations on MQTT credentials for Things
security:
  - AccessToken: []
  - OAuth2ClientCredentials: [ ]
  - OAuth2AuthorizationCode: [ ]
paths:
  /spaces/{space}/categories:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ category ]
        - OAuth2AuthorizationCode: [ category ]
      description: |
        Creates a new Category in the Space.

        > 🚧 **Limitations:** A Category cannot currently be renamed.
      tags:
        - Categories
      summary: Create a Category
      operationId: CreateCategory
      parameters:
        - $ref: '#/components/parameters/space'
      requestBody:
        description: Create a new Category in the platform
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreate'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ category ]
        - OAuth2AuthorizationCode: [ category ]
      description: |
        Returns the list of Categories.

        > 🚧 **Limitations:** A maximum of 1000 Categories will be returned per
        > page (50 by default).
      tags:
        - Categories
      summary: List categories
      operationId: ListCategories
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ category ]
        - OAuth2AuthorizationCode: [ category ]
      description: |
        Returns a Category.
      tags:
        - Categories
      summary: Get a Category
      operationId: GetCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-method-name:
        default: update
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ category ]
        - OAuth2AuthorizationCode: [ category ]
      description: |
        Updates a Category.

        > 🚧 **Limitations:** A Category cannot currently be renamed.
      tags:
        - Categories
      summary: Update a Category
      operationId: UpdateCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
      requestBody:
        description: Update an existent Category by name
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdate'
            example:
              name: ElectronicBoards
              description: My electronic boards category
              model:
                name: ArduinoModel
                version: 2
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
              example:
                name: ElectronicBoards
                description: My electronic boards category
                model:
                  name: ArduinoModel
                  version: 2
                created: "2021-11-17T03:15:40Z"
                modified: "2021-11-19T20:25:14Z"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ category ]
        - OAuth2AuthorizationCode: [ category ]
      description: |
        Deletes a Category.

        > 📘 **Information:** The Things inside the Category will not be removed.
        > They will simply not belong to the eliminated Category anymore.
      tags:
        - Categories
      summary: Delete a Category
      operationId: DeleteCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/models:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Creates a new Model inside a Space.

        > 🚧 **Limitations:** A Model cannot be renamed.
      tags:
        - Models
      summary: Create a Model
      operationId: CreateModel
      parameters:
        - $ref: '#/components/parameters/space'
      requestBody:
        description: Create a new Model in the platform
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreate'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Returns the list of Models.

        > 🚧 **Limitations:** A maximum of 1000 Models will be returned per
        > page (50 by default).
      tags:
        - Models
      summary: List Models
      operationId: ListModels
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/models/{model-name}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Returns a Model.
      tags:
        - Models
      summary: Get a Model
      operationId: GetModel
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Updates a Model.

        > 🚧 **Limitations:** A Model cannot be renamed.
      tags:
        - Models
      summary: Update a Model
      operationId: UpdateModel
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
      requestBody:
        description: Update an existent Model by name
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelUpdate'
            example:
              name: RaspberryPiModel
              description: My Raspberry Pi 4 Model
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
              example:
                name: RaspberryPiModel
                description: My Raspberry Pi 4 Model
                created: "2021-11-17T10:08:31Z"
                modified: "2021-11-17T11:45:07Z"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Deletes a Model and all its Versions.

        > 🚧 **Limitations:** If a Model is being used by a Category or a Thing,
        > the Model cannot be deleted until all the associations with the Model are removed.
      tags:
        - Models
      summary: Delete a Model
      operationId: DeleteModel
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Forbidden'
              examples:
                insufficient_permissions:
                  summary: Insufficient permissions
                  value:
                    error:
                      status: 403
                      message: Unauthorized
                categories_associated:
                  summary: Model is being used by Categories
                  value:
                    error:
                      status: 403
                      message: model cannot be deleted because there are categories using it
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/models/{model-name}/versions:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Creates a new Version of a Model inside a Space.

        > 📘 **Information:** The Version identifier will be a number that
        > starts with 1 and is automatically incremented for every new Model-Version.

        > 🚧 **Limitations:** Once a Version is created, it cannot be updated or deleted.
      tags:
        - Model-Versions
      summary: Create a Model Version
      operationId: CreateVersion
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
      requestBody:
        description: Create a new Model-Version in the platform
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelVersionCreate'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersion'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Returns the list of Versions of a Model.

        > 🚧 **Limitations:** A maximum of 1000 Model-Versions will be returned
        > per page (50 by default).
      tags:
        - Model-Versions
      summary: List Versions of a Model
      operationId: ListVersions
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionList'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/models/{model-name}/versions/{version-num}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ model ]
        - OAuth2AuthorizationCode: [ model ]
      description: |
        Returns a Model-Version.
      tags:
        - Model-Versions
      summary: Get a Model Version
      operationId: GetVersion
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/model-name'
        - $ref: '#/components/parameters/version-num'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersion'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Creates a new Thing inside a Space according to the
        [WoT specification](https://www.w3.org/TR/wot-thing-description/#thing).
      tags:
        - Things
      summary: Add a Thing Description
      operationId: CreateThing
      parameters:
        - $ref: '#/components/parameters/space'
      requestBody:
        description: Create a new Thing Description in the platform
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThingCreate'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Returns the list of Things.

        Filters can be applied to return only the Things that match some criteria.

        > 🚧 **Limitations:** A maximum of 1000 Things will be returned
        > per page (50 by default).
      tags:
        - Things
      summary: List Thing Descriptions
      operationId: ListThings
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/title'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/thing-ids'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/in_category'
        - $ref: '#/components/parameters/sort_things'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/links-rel'
        - $ref: '#/components/parameters/links-href'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingList'
          links:
            pagingNextPage:
              operationId: listThings
              parameters:
                next_cursor: '$response.body#/paging/next_cursor'
            pagingPreviousPage:
              operationId: listThings
              parameters:
                previous_cursor: '$response.body#/paging/previous_cursor'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Things
      summary: Delete Things
      description: |
        Deletes all the existing information (Things and history) from all the
        Things matching the given filters.

        > 📘 **Information:** To prevent accidental deletions, the operation
        > will fail if no filters are provided.

        > ⚠️ **Warning:** This operation can remove lots of Things in one go and
        > without asking for confirmation, so make sure you know what you are doing!

      operationId: DeleteThings
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/thing-ids'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/properties'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingsDeleted'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Returns the Thing with the given ID.
      tags:
        - Things
      summary: Get Thing Description
      operationId: GetThing
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-method-name:
        default: update
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Updates the Thing with the given ID.
      tags:
        - Things
      summary: Update Thing Description
      operationId: UpdateThing
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      requestBody:
        description: Update an existent Thing Description by ID
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThingUpdate'
            example:
              uid: '01FPSXTMN4CEGX09HF5RQ4RMY6'
              title: Temperature Sensor
              description: My update temperature sensor
              categories: ["category1", "category2"]
              status:
                cpu: 5.7
              properties:
                cpu:
                  title: "Temperature"
                  description: "Temperature in degrees Celsius"
                  type: "number"
                  unit: "ºC"
                  readOnly: true
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
              example:
                uid: 01FPSXTMN4CEGX09HF5RQ4RMY6
                id: 'https://api.swx.altairone.com/spaces/space01/things/01FPSXTMN4CEGX09HF5RQ4RMY6'
                title: Temperature Sensor
                description: My update temperature sensor
                categories: ["category1", "category2"]
                model: null
                status:
                  cpu: 5.7
                properties:
                  cpu:
                    title: "Temperature"
                    description: "Temperature in degrees Celsius"
                    type: "number"
                    unit: "ºC"
                    readOnly: true
                created: "2021-12-13T09:38:11Z"
                modified: "2021-12-13T16:57:09Z"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Deletes the Thing with the given ID and all its related information
        (Properties history, graph relationships...).
      tags:
        - Things
      summary: Delete Thing
      operationId: DeleteThing
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Creates a new Thing inside a Space according to the
        [WoT specification](https://www.w3.org/TR/wot-thing-description/#thing).
        The specified Category will be assigned to the new Thing.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      tags:
        - Things
      summary: Add a Thing Description into a Category
      operationId: CreateThingFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
      requestBody:
        description:
          Create a new Thing Description in the platform.
          The `categories` attribute cannot be used in the request body.
          The Thing will be added only to the Category used in the URL.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThingCategoryCreate'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingCategory'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Returns the list of Things with the given Category.

        Filters can be applied to return only the Things that match some criteria.

        > 🚧 **Limitations:** A maximum of 1000 Things will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      tags:
        - Things
      summary: List Thing Descriptions from a Category
      operationId: ListThingsFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/title'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/thing-ids'
        - $ref: '#/components/parameters/sort_things'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/links-rel'
        - $ref: '#/components/parameters/links-href'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingCategoryList'
          links:
            pagingNextPage:
              operationId: listThings
              parameters:
                next_cursor: '$response.body#/paging/next_cursor'
            pagingPreviousPage:
              operationId: listThings
              parameters:
                previous_cursor: '$response.body#/paging/previous_cursor'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Things
      summary: Delete Things from a Category
      description: |
        Deletes all the existing information (Things and history) from all the
        Things with the specified Category that match the given filters.

        > 📘 **Information:** To prevent accidental deletions, the operation
        > will fail if no filters are provided.

        > ⚠️ **Warning:** This operation can remove lots of Things in one go and
        > without asking for confirmation, so make sure you know what you are doing!

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.

      operationId: DeleteThingsFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/thing-ids'
        - $ref: '#/components/parameters/properties'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingsDeleted'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Returns the Thing with the given ID and Category.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      tags:
        - Things
      summary: Get Thing Description from a Category
      operationId: GetThingFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingCategory'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-method-name:
        default: update
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Updates the Thing with the given ID and Category.

        > 📘 **Information:** The Categories of the Thing will not be changed.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      tags:
        - Things
      summary: Update Thing Description in a Category
      operationId: UpdateThingFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      requestBody:
        description:
          Update an existent Thing Description by ID.
          The `categories` attribute cannot be used in the request body.
          Categories associations will not be changed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThingCategoryUpdate'
            example:
              uid: '01FPSXTMN4CEGX09HF5RQ4RMY6'
              title: Temperature Sensor
              description: My update temperature sensor
              status:
                cpu: 5.7
              properties:
                cpu:
                  title: "Temperature"
                  description: "Temperature in degrees Celsius"
                  type: "number"
                  unit: "ºC"
                  readOnly: true
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingCategory'
              example:
                uid: 01FPSXTMN4CEGX09HF5RQ4RMY6
                id: 'https://api.swx.altairone.com/spaces/space01/categories/category1/things/01FPSXTMN4CEGX09HF5RQ4RMY6'
                title: Temperature Sensor
                description: My update temperature sensor
                model: null
                status:
                  cpu: 5.7
                properties:
                  cpu:
                    title: "Temperature"
                    description: "Temperature in degrees Celsius"
                    type: "number"
                    unit: "ºC"
                    readOnly: true
                created: "2021-12-13T09:38:11Z"
                modified: "2021-12-13T16:57:09Z"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      description: |
        Deletes the Thing with the given ID and all its related information
        (Properties history, graph relationships...).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      tags:
        - Things
      summary: Delete Thing
      operationId: DeleteThingFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/reset-secret:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Thing Credentials
      summary: Reset the secret of the Thing's OAuth2 client
      description: |
        Resets the secret of the Thing's OAuth2 client. The client will be
        created if it does not exist yet.
      operationId: ThingResetSecret
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingOAuth2Credentials'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/reset-secret:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Thing Credentials
      summary: Reset the secret of the Thing's OAuth2 client
      description: |
        Resets the secret of the Thing's OAuth2 client in the scope of a
        Category the Thing belongs to. The client will be created if it does
        not exist yet.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: CategoryThingResetSecret
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThingOAuth2Credentials'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/actions/{action-name}:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Create Thing Action
      description: |
        Creates a new Action resource for the given Thing's Action.
      operationId: CreateAction
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionCreateRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: List Thing Actions by Action name
      description: |
        Returns the list of Action resources of the given Thing's Action.

        > 🚧 **Limitations:** A maximum of 1000 Action resources will be returned
        > per page (50 by default).
      operationId: ListActionsByName
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
              example:
                data:
                  - delay:
                      input:
                        delay: 5
                      status: pending
                      timeRequested: '2022-06-02 15:37:46+0000'
                      href: "/spaces/altair/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR"
                  - delay:
                      input:
                        delay: 7
                      status: pending
                      timeRequested: '2022-06-02 15:39:54+0000'
                      href: "/spaces/altair/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCB9FMD0Q3QR0YV4TWY4S3E"
                paging:
                  next_cursor: ''
                  previous_cursor: ''
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/actions:
    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: List Thing Actions
      description: |
        Returns the list of Action resources of the given Thing.

        > 🚧 **Limitations:** A maximum of 1000 Action resources will be returned
        > per page (50 by default).
      operationId: ListActions
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/actions/{action-name}/{action-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Get Thing Action
      description: |
        Returns a Thing Action resource.
      operationId: GetAction
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-method-name:
        default: update
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Update Thing Action
      description: |
        Updates a Thing Action resource.
      operationId: UpdateAction
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionUpdateRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
              example:
                delay:
                  input:
                    delay: 5
                  status: completed
                  timeRequested: "2022-06-02 15:37:46+0000"
                  timeCompleted: "2022-06-02 15:39:25+0000"
                  href: /spaces/altair/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Delete Thing Action
      description: |
        Deletes a Thing Action resource.
      operationId: DeleteAction
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/actions/{action-name}:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Create Thing Action from a Category
      description: |
        Creates a new Action resource for the given Thing's Action.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: CreateActionFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionCreateRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
              example:
                delay:
                  input:
                    delay: 5
                  status: pending
                  timeRequested: "2022-06-02 15:37:46+0000"
                  href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: List Thing Actions by Action name from a Category
      description: |
        Returns the list of Action resources of the given Thing's Action.

        > 🚧 **Limitations:** A maximum of 1000 Action resources will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListActionsByNameFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
              example:
                data:
                  - delay:
                      input:
                        delay: 5
                      status: pending
                      timeRequested: '2022-06-02 15:37:46+0000'
                      href: "/spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR"
                  - delay:
                      input:
                        delay: 7
                      status: pending
                      timeRequested: '2022-06-02 15:39:54+0000'
                      href: "/spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCB9FMD0Q3QR0YV4TWY4S3E"
                paging:
                  next_cursor: ''
                  previous_cursor: ''

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/actions:
    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: List Thing Actions from a Category
      description: |
        Returns the list of Action resources of the given Thing.

        > 🚧 **Limitations:** A maximum of 1000 Action resources will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListActionsFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
              example:
                data:
                  - delay:
                      input:
                        delay: 5
                      status: pending
                      timeRequested: '2022-06-02 15:37:46+0000'
                      href: "/spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR"
                  - delay:
                      input:
                        delay: 7
                      status: pending
                      timeRequested: '2022-06-02 15:39:54+0000'
                      href: "/spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCB9FMD0Q3QR0YV4TWY4S3E"
                  - reboot:
                      status: pending
                      timeRequested: '2022-06-02 15:56:12+0000'
                      href: "/spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCCZYATJW1Z3D4T4BA4S2QH"
                paging:
                  next_cursor: ''
                  previous_cursor: ''
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/actions/{action-name}/{action-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Get Thing Action from a Category
      description: |
        Returns a Thing Action resource.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: GetActionFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
              example:
                delay:
                  input:
                    delay: 5
                  status: pending
                  timeRequested: "2022-06-02 15:37:46+0000"
                  href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-method-name:
        default: update
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Update Thing Action from a Category
      description: |
        Updates a Thing Action resource.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: UpdateActionFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionUpdateRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
              example:
                delay:
                  input:
                    delay: 5
                  status: completed
                  timeRequested: "2022-06-02 15:37:46+0000"
                  timeCompleted: "2022-06-02 15:39:25+0000"
                  href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/actions/delay/01EDCAQE78A7CP6REXV5J8BAKR
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Actions
      summary: Delete Thing Action from a Category
      description: |
        Deletes a Thing Action resource.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: DeleteActionCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/action-name'
        - $ref: '#/components/parameters/action-id'
      responses:
        204:
          description: The resource was deleted successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/events/{event-name}:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Create Thing Event
      description: |
        Creates a new Event resource for the given Thing's Event.
      operationId: CreateEvent
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: List Thing Events by Event name
      description: |
        Returns the list of Event resources of the given Thing's Event.

        > 🚧 **Limitations:** A maximum of 1000 Event resources will be returned
        > per page (50 by default).
      operationId: ListEventsByName
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              example:
                data:
                  - highCPU:
                      data: 61
                      timestamp: "2020-04-02 15:22:37+0000"
                      href: /spaces/altair/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCEZDTJX50SQTCJST5EW5NX
                  - highCPU:
                      data: 85
                      timestamp: "2020-04-02 15:26:42+0000"
                      href: /spaces/altair/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCGYKV4YQ1CY3QHHSX8J843
                paging:
                  next_cursor: ''
                  previous_cursor: ''
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/events:
    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: List Thing Events
      description: |
        Returns the list of Event resources of the given Thing.

        > 🚧 **Limitations:** A maximum of 1000 Event resources will be returned
        > per page (50 by default).
      operationId: ListEvents
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/events/{event-name}/{event-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Get Thing Event
      description: |
        Returns a Thing Event resource.
      operationId: GetEvent
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/event-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: [ ]
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Delete Thing Event
      description: |
        Deletes a Thing Event resource.
      operationId: DeleteEvent
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/event-id'
      responses:
        204:
          description: The resource was deleted successfully.
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/events/{event-name}:
    post:
      x-method-name:
        default: create
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Create Thing Event from a Category
      description: |
        Creates a new Event resource for the given Thing's Event.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: CreateEventFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
              example:
                highCPU:
                  data: 61
                  timestamp: "2020-04-02 15:22:37+0000"
                  href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCEZDTJX50SQTCJST5EW5NX
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: List Thing Events by Event name from a Category
      description: |
        Returns the list of Event resources of the given Thing's Event.

        > 🚧 **Limitations:** A maximum of 1000 Event resources will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListEventsByNameFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              example:
                data:
                  - highCPU:
                      data: 61
                      timestamp: "2020-04-02 15:22:37+0000"
                      href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCEZDTJX50SQTCJST5EW5NX
                  - highCPU:
                      data: 85
                      timestamp: "2020-04-02 15:26:42+0000"
                      href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCGYKV4YQ1CY3QHHSX8J843
                paging:
                  next_cursor: ''
                  previous_cursor: ''
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/events:
    get:
      x-pagination:
        $ref: '#/components/x-pagination/CursorPagination'
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: List Thing Events from a Category
      description: |
        Returns the list of Event resources of the given Thing.

        > 🚧 **Limitations:** A maximum of 1000 Event resources will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListEventsFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
              example:
                data:
                  - highCPU:
                      data: 61
                      timestamp: "2020-04-02 15:22:37+0000"
                      href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCEZDTJX50SQTCJST5EW5NX
                  - highCPU:
                      data: 85
                      timestamp: "2020-04-02 15:26:42+0000"
                      href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCGYKV4YQ1CY3QHHSX8J843
                  - lowDiskSpace:
                      data: 95
                      timestamp: "2020-04-03 07:12:55+0000"
                      href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/lowDiskSpace/01GPX7BR5X3YT5Y65ZMT24YT1N
                paging:
                  next_cursor: ''
                  previous_cursor: ''
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/events/{event-name}/{event-id}:
    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Get Thing Event from a Category
      description: |
        Returns a Thing Event resource.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: GetEventFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/event-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
              example:
                highCPU:
                  data: 61
                  timestamp: "2020-04-02 15:22:37+0000"
                  href: /spaces/altair/categories/ElectronicBoards/things/01FPSXTMN4CEGX09HF5RQ4RMY6/events/highCPU/01EDCEZDTJX50SQTCJST5EW5NX
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Events
      summary: Delete Thing Event from a Category
      description: |
        Deletes a Thing Event resource.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: DeleteEventCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/event-name'
        - $ref: '#/components/parameters/event-id'
      responses:
        204:
          description: The resource was deleted successfully.
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/properties:
    put:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Update Thing Property values
      description: |
        Updates the values of one or more Properties of a Thing.
      operationId: UpdateProperties
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/update-history'
      x-method-name:
        default: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Properties'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Properties'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: List Thing Properties
      description: |
        Returns all the Property values of a Thing.
      operationId: ListProperties
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Properties'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/properties/{property}:
    put:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Update Thing Property value
      description: |
        Updates the value of a Thing Property.
      operationId: UpdateProperty
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
        - $ref: '#/components/parameters/update-history'
      x-method-name:
        default: update
      x-input-parameters:
        parameters:
          - name: value
            description: The new value of the Property.
        payload: '{"{{ property }}": {{ value }}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Get Thing Property value
      description: |
        Returns the value of a Thing Property.
      operationId: GetProperty
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/properties:
    put:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Update Thing Property values from a Category
      description: |
        Updates the values of one or more Properties of a Thing.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: UpdatePropertiesFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/update-history'
      x-method-name:
        default: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Properties'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Properties'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: List Thing Properties from a Category
      description: |
        Returns all the Property values of a Thing.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListPropertiesFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Properties'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/properties/{property}:
    put:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Update Thing Property value from a Category
      description: |
        Updates the value of a Thing Property.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: UpdatePropertyFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
        - $ref: '#/components/parameters/update-history'
      x-method-name:
        default: update
      x-input-parameters:
        parameters:
          - name: value
        payload: '{"{{ property }}": {{ value }}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties
      summary: Get Thing Property from a Category
      description: |
        Returns the value of a Thing Property.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: GetPropertyFromCategory
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/properties-history:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: Create historical values for any Thing Property
      description: |
        Adds historical values for one or more Properties of a Thing.
      operationId: CreatePropertiesHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PropertyHistoryValue'
                - $ref: '#/components/schemas/PropertyHistoryValues'
            examples:
              single_timestamp:
                summary: Single timestamp
                value:
                  at: "2022-08-22T13:09:00Z"
                  properties:
                    memory: 69
              multi_timestamp:
                summary: Multiple timestamps
                value:
                  - at: "2022-08-22T13:10:00Z"
                    properties:
                      cpu: 43
                      memory: 27
                      disk: 19
                  - at: "2022-08-22T13:09:00Z"
                    properties:
                      cpu: 87
                      memory: 69
                  - at: "2022-08-22T13:08:30Z"
                    properties:
                      disk: 17
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyHistoryValues'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/PropertyValueAlreadyExists'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: List historical values of any Thing Property
      description: |
        Returns the list of historical Properties values of a Thing.

        > 🚧 **Limitations:** A maximum of 1000 values will be returned
        > per page (50 by default).
      operationId: ListPropertiesHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/at'
        - $ref: '#/components/parameters/group_property_history'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyHistoryValueList'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: Delete historical values of any Thing Property
      description: |
        Deletes historical Properties values of a Thing.

        > 📘 **Information:** To prevent accidental deletions, the operation
        > will fail if no filters are provided.

        > ⚠️ **Warning:** This operation can remove lots of information in one go and
        > without asking for confirmation, so make sure you know what you are doing!
      operationId: DeletePropertiesHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/at_delete'
        - $ref: '#/components/parameters/property-names'
      responses:
        204:
          description: Deleted
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/things/{thing-id}/properties-history/{property}:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: Create historical values for a Thing Property
      description: |
        Adds one or more historical values for the given Thing Property.
      operationId: CreatePropertyHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PropertyHistoryValue'
                - $ref: '#/components/schemas/PropertyHistoryValues'
            examples:
              single_timestamp:
                summary: Single timestamp
                value:
                  at: "2022-08-22T13:09:00Z"
                  properties:
                    memory: 69
              multi_timestamp:
                summary: Multiple timestamps
                value:
                  - at: "2022-08-22T13:10:00Z"
                    properties:
                      memory: 27
                  - at: "2022-08-22T13:09:00Z"
                    properties:
                      memory: 69
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyHistoryValues'
              example:
                - at: "2022-08-22T13:09:00Z"
                  properties:
                    memory: 69
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/PropertyValueAlreadyExists'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: List historical values of a Thing Property
      description: |
        Returns the list of historical values of the given Thing Property.

        > 🚧 **Limitations:** A maximum of 1000 values will be returned
        > per page (50 by default).
      operationId: ListPropertyHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
        - $ref: '#/components/parameters/at'
        - $ref: '#/components/parameters/next_cursor'
        - $ref: '#/components/parameters/previous_cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyHistoryValueList'
              example:
                paging:
                  next_cursor: ''
                  previous_cursor: ''
                data:
                  - at: "2022-08-22T13:10:00Z"
                    properties:
                      memory: 27
                  - at: "2022-08-22T13:09:00Z"
                    properties:
                      memory: 69
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: Delete historical values of Thing Property
      description: |
        Deletes historical values of a Thing Property.

        > 📘 **Information:** To prevent accidental deletions, the operation
        > will fail if no filters are provided.

        > ⚠️ **Warning:** This operation can remove lots of information in one go and
        > without asking for confirmation, so make sure you know what you are doing!
      operationId: DeletePropertyHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/property'
        - $ref: '#/components/parameters/at_delete'
      responses:
        204:
          description: Deleted
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /spaces/{space}/categories/{category-name}/things/{thing-id}/properties-history:
    post:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: Create historical values for any Thing Property from a Category
      description: |
        Adds historical values for one or more Properties of a Thing.

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: CreateCategoryPropertiesHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PropertyHistoryValue'
                - $ref: '#/components/schemas/PropertyHistoryValues'
            examples:
              single_timestamp:
                summary: Single timestamp
                value:
                  at: "2022-08-22T13:09:00Z"
                  properties:
                    memory: 69
              multi_timestamp:
                summary: Multiple timestamps
                value:
                  - at: "2022-08-22T13:10:00Z"
                    properties:
                      cpu: 43
                      memory: 27
                      disk: 19
                  - at: "2022-08-22T13:09:00Z"
                    properties:
                      cpu: 87
                      memory: 69
                  - at: "2022-08-22T13:08:30Z"
                    properties:
                      disk: 17
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyHistoryValues'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/PropertyValueAlreadyExists'
        500:
          $ref: '#/components/responses/ServerError'

    get:
      security:
        - AccessToken: []
        - OAuth2ClientCredentials: [ thing ]
        - OAuth2AuthorizationCode: [ thing ]
      tags:
        - Properties History
      summary: List historical values of any Thing Property from a Category
      description: |
        Returns the list of historical Properties values of a Thing.

        > 🚧 **Limitations:** A maximum of 1000 values will be returned
        > per page (50 by default).

        > 🚧 **Limitations:** This operation will only work in the scope of the
        > given Category.
      operationId: ListCategoryPropertiesHistoryValues
      parameters:
        - $ref: '#/components/parameters/space'
        - $ref: '#/components/parameters/category-name'
        - $ref: '#/components/parameters/thing-id'
        - $ref: '#/components/parameters/at'
        - $ref: '#/components/parameters/group_property_history'
        - $ref: '#/components/parameters/next_cursor'
[...]
